# Android
*.apk
*.ap_
*.dex
bin/
gen/
.gradle/
local.properties
proguard/
*.log
.navigation/
captures/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project

# OS
.DS_Store
Thumbs.db

# Kotlin
.kotlin/

# Gradle
.gradle/
build/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*
replay_pid*

# Large assets
app/src/main/assets/models/vosk-model-small-es-0.42/